<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UsuariosConnectionString" connectionString="Data Source=DESKTOP-4RC7B4D\SQL;Initial Catalog=Usuarios;Persist Security Info=True;User ID=sa; Password=bateria23"
            providerName="System.Data.SqlClient" />
        <add name="UserApp.Properties.Settings.UsuariosConnectionString"
            connectionString="Data Source=DESKTOP-4RC7B4D\SQL;Initial Catalog=Usuarios;Persist Security Info=True;User ID=sa;Password=bateria23"
            providerName="System.Data.SqlClient" />
        <add name="UserApp.Properties.Settings.EstudoConnectionString"
            connectionString="Data Source=DESKTOP-4RC7B4D\SQL;Initial Catalog=Estudo;Persist Security Info=True;User ID=sa;Password=bateria23"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>